<%- include('partials/header'); -%>

<h2>Hello and welcome to paint rooms</h2>

<p>LESSON 1</p>

<p>This course is designed for beginner painters and considering that fact, we are going to be starting your painting journey with the very basics to help you learn your ways through brush strokes and colour palettes with proper technique and guidance. On that note, let's get started with your very first lesson.</p>

<iframe src="https://www.youtube.com/embed/w3hbZfX0Abg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<ul>
    <li>
        <a href="">Mark complete</a>
    </li>
</ul>

<p>LESSON 2</p>

<p>Now that we have the basics out of the way, let's get to the fun part! By now, you should have a clear understanding about oil painting and of the techniques you should be using with it. Let's put them to use and test what your preferred ways and forms are. Try following the simple Bob Ross tutorial attached below and discover your own preferences in methods and do not forget to have fun along the way!</p>

<iframe src="https://www.youtube.com/embed/lLWEXRAnQd0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<ul>
    <li>
        <a href="">Mark complete</a>
    </li>
</ul>

<p>LESSON 3</p>

<p>The lessons above were a path for you to figure out your own inner artist. Although this was a very brief introduction to it, you'll achieve your perfection with pratice. Attached below are some more videos to help you with your practice and truly find what your spaces are while painting. We highly encourage you to keep searching for inspiration and information to bring your own artworks to life after you unleash your inner artist. Here's to hoping you do it soon. happy painting!</p>

<iframe src="https://www.youtube.com/embed/gYuH4Ilqdhs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<iframe src="https://www.youtube.com/embed/gMEZp47VKC0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<iframe src="https://www.youtube.com/embed/vrAMRxBB5KI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<ul>
    <li>
        <a href="">Mark complete</a>
    </li>
</ul>

<%- include('partials/footer'); -%>