<%- include('partials/header'); -%>

<header>
    <div class="headings">
        <h2>Your online paint journal</h2>
        <h3>Pick up your brushes and enter your dream painting room</h3>
        <h4>Happy painting!</h4>
        <a href="/user" class="btn">Join room</a>
        <p>Paint rooms is a virtual painting guide designed specially for beginner painters who wish to explore their artistic potential while having fun along the way.</p>
    </div>
</header>

<%- include('partials/footer'); -%>